.faq_section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.faq_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .faq_section {
    height: max-content;
  }
  .faq_content {
    padding: 1rem 0;
  }
}
